.loading-state {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.loading-state i {
  opacity: 0.2;
  font-size: 3rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from{
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg)
  }
}